@use 'components/utils/anim/fadeIn';
@use 'components/utils/anim/slideIn';

.tech{

    h1{
        animation-name: fadeIn;
        animation-duration: 400ms;
        animation-fill-mode: both;
    }

    .par{
        margin-bottom: 55px;
        animation-name: fadeIn;
        animation-duration: 400ms;
        animation-delay: 100ms;
        animation-fill-mode: both;
    }


    .techRow{
        margin-bottom: 55px;


        .techItem{
            width: 100%;
            height: 89px;   
            margin-bottom: 21px;
            animation-name: slideIn;
            animation-duration: 400ms;
            animation-fill-mode: both;

            &>div{
                transition: all 500ms;
                overflow: hidden;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        // checkout num on index.tsx
        @for $i from 0 through 27 {
            .techNo#{$i} {
                animation-delay: (500ms + (50ms * $i));
            }
        }

        .techItem:hover>div{
            transform: scale3d(1.1,1.1,1);
        }

        .techItem:active>div{
            transform: scale3d(0.9,0.9,1);
        }

        #nodejs{
            width: 50%;
        }

        #bun{
            width: 50%;
        }

        #firebase{
            // width: 50%;
            img{
                height: 120px
            }
        }

        #docker{
            // width: 45%;
            height: 155px;
            margin: 21px 0;
            img{
                object-fit: contain;
            }
        }

        #cloudflare{
            margin: 21px 0;
            img{
                width: 80%;;
            }
        }


        #express{
            img{
                width: 180px;
            }
        }

        #react{
            height: 170px;
            img{
                display: block;
                // height: 300px;
            }
            // width: 200px;
            // height: auto;
        }

        #electron{
            // background-color: white;
            img{
                height: auto;
            }
        }

        #mongo{
            width: 50%;
            img{
                width: 100px;
            }
        }

        #postgres{
            width: 50%;
        }

        #mysql{
            width: 50%;
            img{
                width: 80px;
            }
        }

        #redis{
            width: 50%;
        }

        #rabbit{
            width: 50%;
            img{
                width: 80px;
            }
        }

        #do{
            width: 50%;
            img{
                height: 144px;
            }
        }

        #ec2{
            width: 50%;
        }

        #s3{
            width: 50%;
        }

        #beanstalk{
            width: 50%;
        }

        #stripe{
            img{
                height: 244px;
            }
        }

        #algolia{
            img{
                width: 200px;
            }
        }

        #mailgun{
            img{
                width: 200px;
            }
        }

        #sendgrid{
            img{
                width: 200px;
            }
        }

        @media screen and (min-width:657px) {

            .techItem{
                width: 89px;
                height: 89px;
                margin-right: 21px;
                margin-bottom: 21px;
                img{
                    height: auto;
                }
            }

            #nodejs{
                width: 74px;
            }

            #bun{
                width: 74px;
                margin: 0px 21px;
            }

            #docker{
                width: 96px;
                height: 89px;
                margin-right: 21px;
                img{
                    height: 120%;
                    object-fit: cover;
                }
            }

            #cloudflare{
                width: 153px;
            }
    
            #firebase{
                width: 89px;
            }
    
            #express{
                width: 211px;
                // margin-right: 34px;
            }

            #react{
                height: 89px;
            }
    
            #next{
                width: 134px;
                position: relative;
                top: -5px;
            }
    
            #socketio{
                margin-right: 34px;
            }
    
            #electron{
                width: 311px;
                // background-color: white;
            }

            #mongo{
                width: 89px;
                img{
                    width: 100px;
                }
            }

            #postgres{
                width: 89px;
            }
    
            #mysql{
                width: 87px;
            }

            #redis{
                width: 89px;
            }
    
            #rabbit{
                width: 74px;
            }
    
            #do{
                width: 124px;
            }

            #ec2{
                width: 89px;
            }

            #s3{
                width: 89px;
            }
    
            #beanstalk{
                width: 54px;
                margin-left: 13px;
            }
    
            #stripe{
                width: 124px;
                margin-left: 0px;
            }
    
            #algolia{
                width: 124px;
                img{
                    width: 100%;
                }
            }
    
            #twilio{
                width: 124px;
            }
    
            #mailgun{
                width: 124px;
                img{
                    width: 100%;
                }
            }
    
            #sendgrid{
                width: 135px;
                img{
                    width: 100%;
                }
            }

            
        }

        
    }

    
}