@use 'components/utils/anim/fadeIn';
@use 'components/utils/anim/slideIn';

.menu{

    z-index: 3;
    position:fixed;
    top: var(--menuTop);
    left:0;
    padding-left: 55px;
    transition: top 400ms, background-color 200ms;
    transition-delay: 0s, 700ms;
    width: 100%;

    .menuContainer{
        display:inline-block;
    }


    .menuContainer .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 21px;
    }

    .grid>div{
        padding: 21px 0;
    }

    #menuHome{
        animation-name: fadeIn;
        animation-duration: 350ms;
        animation-delay: 0ms;
        animation-fill-mode: both;
        padding-right: 8px;
    }

    #menuWorks{
        animation-name: slideIn;
        animation-duration: 350ms;
        animation-delay: 200ms;
        animation-fill-mode: both;
    }

    #menuTech{
        animation-name: slideIn;
        animation-duration: 350ms;
        animation-delay: 400ms;
        animation-fill-mode: both;
    }

    #menuContact{
        animation-name: slideIn;
        animation-duration: 350ms;
        animation-delay: 600ms;
        animation-fill-mode: both;
    }

    &.intersected{
        top: var(--menuTopIntersected);
        background-color: rgba(0,0,0,0.9);
    }


}