

.header{

    position: relative;
    z-index: 3;
    margin-top: 34px;
    margin-left: var(--mainPadding);
    margin-right: var(--mainPadding);
    margin-bottom: 34px;
    transition: all 300ms;
    transition-timing-function: ease-out;
    display: flex;
    justify-content: space-between;

    .menu{

    }


    &.intersected{
        // top: 34px;
        // margin-top: 34px;

        // left:0;
        // top:0;
        // width: 100%;
        // padding-top: 13px;
        // padding-left: 55px;
        // padding-bottom: 13px;
        // background-color: rgba(0,0,0,0.8);
    }
    
    .logo{
        transition: all 300ms;
        transition-timing-function: ease-out;
        line-height: 1.5;
        color: var(--text);
        text-decoration: none;
        font-size: 4.236em;
    }

    &.intersected .logo{
        font-size: 3.236em;
    }

}