* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  background-color: var(--bg);
}

html{
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory; 
}

body{
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a{
  color: var(--blue);
  text-decoration: none;
  position: relative;
}

a:visited{
  color: var(--blue);
}


a:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: " ";
  display: inline-block;
  border-bottom: 1px solid rgba(255,255,255,.5);
  width: 100%;
  height: 1px;
  transition: transform .2s ease;
  transform: scaleX(0);
  transform-origin: center center;
}

a:hover:after {
  transform: scaleX(1);
}

.page{
  position: relative;
  z-index: 1;
  height: 100vh;
  scroll-snap-align: start;
}

#logo{
  transition: all 300ms;
  transition-timing-function: ease-out;
}

#header{
  transition: all 300ms;
  transition-timing-function: ease-out;
}

#hello{
  transition: opacity 300ms;
  transition-timing-function: ease-out;
  opacity: 1;
}

.intersected #logo{
  font-size: 2.236em;
}

.intersected #header{
  top: 21px;
  left: 34px;
}

.intersected #hello{
  transition: opacity 100ms;
  opacity: 0;
}
